.chat-messages-container {
  /* flex-grow: 1; */
  margin-top: 20px;
  overflow: scroll; /* if we have more messages, we make message container srollable */
  scrollbar-width: none; /* to hide scrollbar feature */
  -ms-overflow-style: none;
}

.welcome-message {
  color: gray;
  text-align: center;
}
